<!DOCTYPE html>
<html>
<head>
	<title>add business</title>
	<meta charset="utf-8"/>
</head>
<body>
	<form method = "post" action = "/post_business">
		<label>business_id</label>
		<input id = "business_id" name = "business_id" type = "text" />
		<label>active</label>
		<input id = "active" name = "active" type = "text" />	
		<label>categories</label>
		<input id = "categories" name = "categories" type = "text" />
		<label>review_count</label>
		<input id = "review_count" name = "review_count" type = "number" />	
		<label>business_name</label>
		<input id = "business_name" name = "business_name" type = "text" />
		<label>stars</label>
		<input id = "stars" name = "stars" type = "number" />	
		<input type = "submit" />
	</form>

	{{allBusiness}}
</body>
</html>
